Repository mrdoob/three.js, pull requests merged in 2023-03, with the labels that each got.

#25581 NodeUtils: `getNodesKeys` -> `getNodeChildren`
  examples/jsm/nodes/core/Node.js
  examples/jsm/nodes/core/NodeUtils.js
  examples/jsm/nodes/materials/NodeMaterial.js
Labels: Nodes

#25588 OscNode: Fix if timeNode is not a nodeObject()
  examples/jsm/nodes/utils/OscNode.js
Labels: Nodes

#25590 NodeLoader: Deserialize sub-properties and fixes.
  examples/jsm/nodes/core/Node.js
  examples/jsm/nodes/loaders/NodeLoader.js
  examples/jsm/nodes/utils/ConvertNode.js
Labels: Nodes

#25537 Examples: Update webgl_morphtargets_*, use physically-based lights
  examples/screenshots/webgl_morphtargets_sphere.jpg
  examples/webgl_morphtargets.html
  examples/webgl_morphtargets_horse.html
  examples/webgl_morphtargets_sphere.html
Labels: Examples

#25468 Documentation: Update "Installation" guide with clearer guidance on build tools and CDNs
  docs/list.json
  docs/manual/ar/introduction/How-to-run-things-locally.html
  docs/manual/ar/introduction/Loading-3D-models.html
  docs/manual/en/introduction/Creating-a-scene.html
  docs/manual/en/introduction/FAQ.html
  docs/manual/en/introduction/How-to-run-things-locally.html
  docs/manual/en/introduction/Installation.html
  docs/manual/en/introduction/Loading-3D-models.html
  docs/manual/en/introduction/WebGL-compatibility-check.html
  docs/manual/fr/introduction/How-to-run-things-locally.html
  docs/manual/it/introduction/How-to-run-things-locally.html
  docs/manual/it/introduction/Loading-3D-models.html
  docs/manual/ja/introduction/How-to-run-things-locally.html
  docs/manual/ja/introduction/Loading-3D-models.html
  docs/manual/ko/introduction/How-to-run-things-locally.html
  docs/manual/ko/introduction/Loading-3D-models.html
  docs/manual/pt-br/introduction/How-to-run-things-locally.html
  docs/manual/pt-br/introduction/Loading-3D-models.html
  docs/manual/ru/introduction/How-to-run-things-locally.html
  docs/manual/ru/introduction/Loading-3D-models.html
  docs/manual/zh/introduction/How-to-run-things-locally.html
  docs/manual/zh/introduction/Loading-3D-models.html
  docs/page.css
  test/unit/README.md
Labels: Documentation

#25653 TSL: if, elseif, else syntax
  examples/jsm/nodes/accessors/CubeTextureNode.js
  examples/jsm/nodes/accessors/TextureNode.js
  examples/jsm/nodes/core/BypassNode.js
  examples/jsm/nodes/core/ExpressionNode.js
  examples/jsm/nodes/core/Node.js
  examples/jsm/nodes/core/NodeBuilder.js
  examples/jsm/nodes/core/StackNode.js
  examples/jsm/nodes/core/TempNode.js
  examples/jsm/nodes/core/VarNode.js
  examples/jsm/nodes/gpgpu/ComputeNode.js
  examples/jsm/nodes/materials/MeshNormalNodeMaterial.js
  examples/jsm/nodes/materials/MeshPhongNodeMaterial.js
  examples/jsm/nodes/materials/MeshStandardNodeMaterial.js
  examples/jsm/nodes/materials/NodeMaterial.js
  examples/jsm/nodes/math/CondNode.js
  examples/jsm/nodes/math/OperatorNode.js
  examples/jsm/nodes/shadernode/ShaderNode.js
  examples/jsm/renderers/webgl/nodes/WebGLNodeBuilder.js
  examples/jsm/renderers/webgpu/nodes/WebGPUNodeBuilder.js
  examples/webgpu_audio_processing.html
  examples/webgpu_compute.html
Labels: Nodes, TSL

#25636 Create renovate.json
  .github/renovate.json
Labels: Dependencies

#25749 Documentation: Improve signature of Triangle.getInterpolation
  docs/api/en/math/Triangle.html
Labels: Documentation
