Repository mrdoob/three.js, pull requests merged in 2023-06, with the labels that each got.

#26210 Docs: Fix mistake in Color#getRGB signature
  docs/api/en/math/Color.html
  docs/api/it/math/Color.html
  docs/api/zh/math/Color.html
Labels: Documentation

#26129 Examples: Update from GammaCorrectionShader to OutputPass
  examples/misc_controls_fly.html
  examples/webgl2_multisampled_renderbuffers.html
  examples/webgl_materials_normalmap.html
  examples/webgl_materials_video.html
  examples/webgl_points_dynamic.html
  examples/webgl_postprocessing.html
  examples/webgl_postprocessing_afterimage.html
  examples/webgl_postprocessing_backgrounds.html
  examples/webgl_postprocessing_dof.html
  examples/webgl_postprocessing_glitch.html
  examples/webgl_postprocessing_masking.html
  examples/webgl_postprocessing_outline.html
  examples/webgl_postprocessing_pixel.html
  examples/webgl_postprocessing_sao.html
  examples/webgl_postprocessing_smaa.html
  examples/webgl_postprocessing_ssaa.html
  examples/webgl_postprocessing_ssao.html
  examples/webgl_postprocessing_ssr.html
  examples/webgl_postprocessing_taa.html
  manual/examples/postprocessing-3dlut-identity.html
  manual/examples/postprocessing-3dlut-w-loader.html
  manual/examples/postprocessing-3dlut.html
Labels: Post-processing

#26270 TSL: Editor
  examples/files.json
  examples/jsm/nodes/Nodes.js
  examples/jsm/nodes/accessors/TangentNode.js
  examples/jsm/nodes/core/ContextNode.js
  examples/jsm/nodes/core/NodeBuilder.js
  examples/jsm/nodes/core/UniformNode.js
  examples/jsm/nodes/core/VarNode.js
  examples/jsm/nodes/materials/LineBasicNodeMaterial.js
  examples/jsm/nodes/materials/MeshBasicNodeMaterial.js
  examples/jsm/nodes/materials/MeshNormalNodeMaterial.js
  examples/jsm/nodes/materials/MeshPhongNodeMaterial.js
  examples/jsm/nodes/materials/MeshStandardNodeMaterial.js
  examples/jsm/nodes/materials/NodeMaterial.js
  examples/jsm/nodes/materials/PointsNodeMaterial.js
  examples/jsm/nodes/materials/SpriteNodeMaterial.js
  examples/jsm/renderers/common/RenderObject.js
  examples/jsm/renderers/common/RenderObjects.js
  examples/jsm/renderers/webgpu/WebGPUBackend.js
  examples/jsm/renderers/webgpu/nodes/WGSLNodeBuilder.js
  examples/screenshots/webgpu_tsl_editor.jpg
  examples/webgpu_tsl_editor.html
  test/e2e/puppeteer.js
Labels: TSL

#26283 TSL: Editor (GLSL)
  examples/jsm/nodes/accessors/CameraNode.js
  examples/jsm/nodes/accessors/ModelNode.js
  examples/jsm/renderers/webgl/nodes/GLSLNodeBuilder.js
  examples/jsm/renderers/webgl/nodes/WebGLNodeBuilder.js
  examples/webgpu_tsl_editor.html
Labels: TSL

#26311 TSL: Move `ShaderNode` to `tslFn()`
  examples/jsm/nodes/Nodes.js
  examples/jsm/nodes/accessors/InstanceNode.js
  examples/jsm/nodes/accessors/SkinningNode.js
  examples/jsm/nodes/code/CodeNode.js
  examples/jsm/nodes/code/FunctionNode.js
  examples/jsm/nodes/core/BypassNode.js
  examples/jsm/nodes/core/Node.js
  examples/jsm/nodes/core/StackNode.js
  examples/jsm/nodes/display/BlendModeNode.js
  examples/jsm/nodes/display/ColorAdjustmentNode.js
  examples/jsm/nodes/display/ColorSpaceNode.js
  examples/jsm/nodes/display/NormalMapNode.js
  examples/jsm/nodes/display/ToneMappingNode.js
  examples/jsm/nodes/functions/BSDF/BRDF_BlinnPhong.js
  examples/jsm/nodes/functions/BSDF/BRDF_GGX.js
  examples/jsm/nodes/functions/BSDF/BRDF_Lambert.js
  examples/jsm/nodes/functions/BSDF/DFGApprox.js
  examples/jsm/nodes/functions/BSDF/D_GGX.js
  examples/jsm/nodes/functions/BSDF/EnvironmentBRDF.js
  examples/jsm/nodes/functions/BSDF/F_Schlick.js
  examples/jsm/nodes/functions/BSDF/V_GGX_SmithCorrelated.js
  examples/jsm/nodes/functions/PhongLightingModel.js
  examples/jsm/nodes/functions/PhysicalLightingModel.js
  examples/jsm/nodes/functions/material/getGeometryRoughness.js
  examples/jsm/nodes/functions/material/getRoughness.js
  examples/jsm/nodes/lighting/DirectionalLightNode.js
  examples/jsm/nodes/lighting/LightUtils.js
  examples/jsm/nodes/lighting/LightingContextNode.js
  examples/jsm/nodes/lighting/PointLightNode.js
  examples/jsm/nodes/lighting/SpotLightNode.js
  examples/jsm/nodes/materials/MeshStandardNodeMaterial.js
  examples/jsm/nodes/materials/NodeMaterial.js
  examples/jsm/nodes/materialx/lib/mx_hsv.js
  examples/jsm/nodes/materialx/lib/mx_noise.js
  examples/jsm/nodes/materialx/lib/mx_transform_color.js
  examples/jsm/nodes/procedural/CheckerNode.js
  examples/jsm/nodes/shadernode/ShaderNode.js
  examples/jsm/nodes/utils/LoopNode.js
  examples/jsm/renderers/common/Pipelines.js
  examples/webgpu_lights_custom.html
  examples/webgpu_materials.html
Labels: TSL

#26341 Examples: Add material.alphaHash example
  examples/files.json
  examples/screenshots/webgl_materials_alphahash.jpg
  examples/webgl_materials_alphahash.html
Labels: Examples

#26344 Examples: Add RoomEnvironment to alpha hash example
  examples/screenshots/webgl_materials_alphahash.jpg
  examples/webgl_materials_alphahash.html
  test/e2e/puppeteer.js
Labels: Examples
