Repository mrdoob/three.js, pull requests merged in 2023-02, with the labels that each got.

#25469 GLTFLoader: Remove special case for normalized skin weights
  examples/jsm/loaders/GLTFLoader.js
Labels: Loaders

#25475 DRACOLoader: Update Draco decoders to v1.5.6
  examples/jsm/libs/draco/draco_decoder.js
  examples/jsm/libs/draco/draco_decoder.wasm
  examples/jsm/libs/draco/draco_wasm_wrapper.js
  examples/jsm/libs/draco/gltf/draco_decoder.js
  examples/jsm/libs/draco/gltf/draco_decoder.wasm
  examples/jsm/libs/draco/gltf/draco_wasm_wrapper.js
  examples/jsm/loaders/DRACOLoader.js
Labels: Loaders, Dependencies

#25520 ColorManagement: Add Display P3 transforms
  src/constants.js
  src/extras/ImageUtils.js
  src/math/Color.js
  src/math/ColorManagement.js
  test/unit/src/math/Color.tests.js
Labels: Enhancement

#25561 InputNode: Added .setPrecision()
  examples/jsm/nodes/core/InputNode.js
  examples/jsm/renderers/webgl/nodes/WebGLNodeBuilder.js
Labels: Nodes

#25553 NodeEditor: Adds support for exporting Node Chaining, Materials and Objects3D (individually)
  examples/jsm/node-editor/NodeEditor.js
  examples/jsm/node-editor/NodeEditorUtils.js
  examples/jsm/node-editor/core/BaseNode.js
  examples/jsm/node-editor/materials/BasicMaterialEditor.js
  examples/jsm/node-editor/materials/MaterialEditor.js
  examples/jsm/node-editor/materials/PointsMaterialEditor.js
  examples/jsm/node-editor/materials/StandardMaterialEditor.js
  examples/jsm/nodes/core/Node.js
  examples/jsm/nodes/core/NodeUtils.js
  examples/jsm/nodes/loaders/NodeLoader.js
Labels: Nodes
