Repository mrdoob/three.js, pull requests merged in 2024-08, with the labels that each got.

#29110 WebGPURenderer: Manual Shadow Update Control via `shadow.needsUpdate`
  examples/webgpu_shadowmap_opacity.html
  src/nodes/lighting/AnalyticLightNode.js
Labels: WebGPU

#29132 WebGPURenderer: WebGL State improvements
  src/renderers/webgl-fallback/WebGLBackend.js
  src/renderers/webgl-fallback/utils/WebGLState.js
Labels: WebGL Backend

#29134 TSL: Support Instance and Skinning without normals
  src/nodes/accessors/InstanceNode.js
  src/nodes/accessors/SkinningNode.js
Labels: TSL

#29174 WebGPURenderer: Fix BatchedMesh with indexed geometry
  src/renderers/webgpu/WebGPUBackend.js
Labels: WebGPU

#29177 WebGPURenderer: Align WebGL backend extensions initialization with WebGLRenderer
  src/renderers/webgl-fallback/WebGLBackend.js
Labels: WebGL Backend

#29175 WebGPURenderer: Support Filterable Float32 Textures in WebGPU
  src/renderers/webgpu/nodes/WGSLNodeBuilder.js
  src/renderers/webgpu/utils/WebGPUBindingUtils.js
Labels: WebGPU

#29186 WebGPURenderer: remove redundant code
  src/renderers/webgl-fallback/utils/WebGLTextureUtils.js
Labels: WebGL Backend

#29203 WebGPURenderer: BatchedMesh colors support
  examples/screenshots/webgpu_mesh_batch.jpg
  examples/webgpu_mesh_batch.html
  src/nodes/accessors/BatchNode.js
  src/nodes/materials/NodeMaterial.js
  test/e2e/puppeteer.js
Labels: TSL

#29197 WebGPURenderer: Use renderBundles for repeated mipmap creation.
  src/renderers/webgpu/utils/WebGPUTexturePassUtils.js
Labels: WebGPU

#29183 WebGPURenderer: Reduce bindingGroup creation for data texture content updates.
  src/renderers/common/Backend.js
  src/renderers/common/Bindings.js
  src/renderers/common/SampledTexture.js
  src/renderers/common/Textures.js
  src/renderers/common/nodes/NodeSampledTexture.js
Labels: WebGPU

#29202 Nodes: IndexNode - `invocationLocalIndex`
  src/nodes/Nodes.js
  src/nodes/core/IndexNode.js
  src/renderers/webgl-fallback/nodes/GLSLNodeBuilder.js
  src/renderers/webgpu/nodes/WGSLNodeBuilder.js
Labels: TSL

#29223 TSL: Prevent viewportBottomLeft breaking change and cleanup
  examples/jsm/objects/Water2Mesh.js
  examples/webgpu_materials.html
  src/nodes/Nodes.js
  src/nodes/display/ViewportNode.js
Labels: TSL

#29232 WebGPURenderer: Improve clippingContext cachekey
  src/renderers/common/ClippingContext.js
  src/renderers/common/RenderObject.js
  src/renderers/webgpu/WebGPUBackend.js
Labels: WebGPU

#29231 WebGPURenderer: Support Compressed Texture Array
  examples/files.json
  examples/screenshots/webgpu_texture2darray_compressed.jpg
  examples/webgpu_texture2darray_compressed.html
  src/renderers/webgl-fallback/nodes/GLSLNodeBuilder.js
  src/renderers/webgl-fallback/utils/WebGLTextureUtils.js
  src/renderers/webgpu/nodes/WGSLNodeBuilder.js
  src/renderers/webgpu/utils/WebGPUBindingUtils.js
  src/renderers/webgpu/utils/WebGPUTextureUtils.js
Labels: WebGPU, TSL

#29249 WebGPURenderer: Move `viewport` and `scissor` to WebGPU convention - `top-left`
  examples/webgpu_instance_points.html
  examples/webgpu_lines_fat.html
  src/renderers/common/extras/PMREMGenerator.js
  src/renderers/webgl-fallback/WebGLBackend.js
  src/renderers/webgpu/WebGPUBackend.js
Labels: WebGPU

#29248 TSL: Color Space revision
  examples/webgpu_sandbox.html
  src/nodes/TSL.js
  src/nodes/accessors/TextureNode.js
  src/nodes/core/NodeBuilder.js
  src/nodes/display/ColorSpaceNode.js
  src/nodes/display/RenderOutputNode.js
  src/renderers/common/Renderer.js
  src/renderers/webgpu/nodes/WGSLNodeBuilder.js
Labels: WebGPU, TSL

#29236 Nodes: `InstancedPointsNodeMaterial` - Add `pointWidthNode`
  examples/screenshots/webgpu_instance_points.jpg
  examples/webgpu_instance_points.html
  src/materials/nodes/InstancedPointsNodeMaterial.js
Labels: WebGPU

#29254 WebGPURenderer: Video fix wrong colorSpace in WebGL Backend
  src/renderers/webgl-fallback/nodes/GLSLNodeBuilder.js
Labels: WebGL Backend

#29255 WebGPURenderer: Ensure correct pixel storage parameters in WebGL Backend
  src/renderers/webgl-fallback/utils/WebGLTextureUtils.js
Labels: WebGL Backend

#29252 WebGPURenderer: InstancedPointsNodeMaterial support opacity
  src/materials/nodes/InstancedPointsNodeMaterial.js
Labels: TSL

#29257 WebGPURenderer: cache textureViews for reuse in bindGroup
  src/renderers/webgpu/utils/WebGPUBindingUtils.js
Labels: WebGPU
