Repository mrdoob/three.js, pull requests merged in 2024-06, with the labels that each got.

#28595 TSL: Add Return Expression
  examples/jsm/nodes/Nodes.js
  examples/jsm/nodes/utils/DiscardNode.js
Labels: TSL

#28594 WebGPURenderer: Enhance GLSL Error in WebGLBackend
  examples/jsm/renderers/common/Renderer.js
  examples/jsm/renderers/webgl/WebGLBackend.js
  examples/jsm/renderers/webgl/nodes/GLSLNodeBuilder.js
  examples/jsm/renderers/webgpu/nodes/WGSLNodeBuilder.js
Labels: WebGL Backend

#28673 WebGPURenderer: Introduce `biquadraticTexture` filtering
  examples/jsm/renderers/webgpu/nodes/WGSLNodeBuilder.js
Labels: WebGPU, TSL

#28707 Transpiler: Improve tree shaking support
  examples/jsm/transpiler/TSLEncoder.js
Labels: WebGPU, TSL

#28711 TSL: Update MaterialX library
  examples/jsm/nodes/materialx/lib/mx_hsv.js
  examples/jsm/nodes/materialx/lib/mx_noise.js
  examples/jsm/nodes/materialx/lib/mx_transform_color.js
Labels: WebGPU, TSL
