Repository mrdoob/three.js, pull requests merged in 2024-07, with the labels that each got.

#28792 TSL: BatchNode - Fix BiasNode conflict
  src/nodes/accessors/BatchNode.js
Labels: TSL

#28784 WebGPURenderer: Support MSAA with Postprocessing
  src/nodes/display/PassNode.js
  src/renderers/common/Renderer.js
  src/renderers/webgpu/WebGPUBackend.js
  src/renderers/webgpu/nodes/WGSLNodeBuilder.js
  src/renderers/webgpu/utils/WebGPUBindingUtils.js
  src/renderers/webgpu/utils/WebGPUPipelineUtils.js
  src/renderers/webgpu/utils/WebGPUTextureUtils.js
  src/renderers/webgpu/utils/WebGPUUtils.js
Labels: WebGPU

#28846 WebGPURenderer: Compute Shaders - Extend max workgroups capabilities
  src/renderers/webgpu/WebGPUBackend.js
Labels: WebGPU

#28865 WebGPURenderer: WGSL Fix calculation of instanceIndex in compute shaders
  src/renderers/webgpu/nodes/WGSLNodeBuilder.js
Labels: WebGPU

#28917 Docs: Expand .aoMapIntensity description
  docs/api/en/materials/MeshBasicMaterial.html
  docs/api/en/materials/MeshLambertMaterial.html
  docs/api/en/materials/MeshPhongMaterial.html
  docs/api/en/materials/MeshStandardMaterial.html
  docs/api/en/materials/MeshToonMaterial.html
Labels: Documentation
